.completed{
    text-decoration: line-through;
}
html{
    background-color: #125640;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#app{
    vertical-align: middle;
    background-color: #d3dedb;
    width: 37.5rem;
    margin: 2.5rem auto;
}
.title{
    font-size: 2.5rem;
    text-align: center;
}
.inputBox,ul{
    margin: 0.625rem;
    font-size: 1.25rem;
}
.button {
    cursor: pointer;
    font-size: 1.125rem;
    background-color:#d3ded7;
    margin-left: 0.625rem;
}
.btn{
    border: 0.0625rem solid #ccc;
    border-radius: 0.625rem;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.3125rem;
    padding: 0.3125rem 0.625rem;
    min-width: 1.875rem;
    text-align: center;
    font-size: 1.5625px;
}
.btn:hover{
    background:#ccc;
    color:#fff
}
.mes{
    font-size: 1.25rem;
    margin: 0.625rem;
}
.controlBar{
    padding: 0.625rem 0;
}
